<!DOCTYPE html>

<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Forms in Node.js</title>
  <link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
  <%- body %>
</body>

</html>