html {
  overflow: scroll;
}

body {
  min-height: 100%;
  margin: 0;
}

.userInfo {
    display: none;
  }

*{
    box-sizing: border-box;
}

.mdl-layout__header-row {
  display: flex;
  background-color: rgba(153, 204, 255, 0.1);
}

.mdl-layout {
  background-image: url('Header.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  display: flex;
  height: fit-content;
  overflow: unset;
}

.pageHead {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.mdl-card {
  margin-bottom: 0.5vw;
}