html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  background: #fff;
  font-family: -apple-system, 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}